<!DOCTYPE html>
<html>
    <head>
        {{template "head" .}}
        <meta name="keywords" content="{{.Site.Subtitle}}">
        <meta name="description" content="{{.Site.Subtitle}}">
        <title>{{.Site.Title}}</title>
    </head>
    <body>
        <!--[if lt IE 8]>
            <div class="browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
        <![endif]-->
        {{template "header" .}}
        <div id="body" class="clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div id="main" role="main">
                        <ul class="post-list clearfix">
                            {{range .Articles}}
                            <li class="post-item grid-item" itemscope itemtype="http://schema.org/BlogPosting">
                                <a class="post-link" href="{{$.Site.Root}}/{{.Link}}">
                                    <h3 class="post-title">
                                        <time class="index-time" datetime="{{.Date}}" itemprop="datePublished"></time>
                                        <br>
                                        {{.Title}}
                                    </h3>
                                    <div class="post-meta">
                                        {{index .Tags 0}}						</div>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="nav-page">
                        <ol class="page-navigator">
                            {{if .Prev}}
                            <li class="prev">
                                <a href="{{.Site.Root}}/{{.Prev}}">&laquo;</a>
                            </li>
                            {{end}}
                            <!--生成页数-->
                            <script>
                                var currentpagenum = {{.Page}};
                                var totalpagenum = {{.Total}};
                                for(var i=1;i<=totalpagenum;i++) {
                                    if (i==currentpagenum) {
                                        document.write('<li class="current"><a href="');
                                        if (i==1) {
                                            document.write('/');
                                        }
                                        else {
                                            document.write('page'+i+'.html');
                                        }
                                        document.write('">'+i+'</a></li>');
                                    }
                                    else {
                                        document.write('<li><a href="');
                                        if (i==1) {
                                            document.write('/');
                                        }
                                        else {
                                            document.write('page'+i+'.html');
                                        }
                                        document.write('">'+i+'</a></li>');
                                    }
                                }
                            </script>
                            {{if .Next}}
                            <li class="next">
                                <a href="{{.Site.Root}}/{{.Next}}">&raquo;</a>
                            </li>
                            {{end}}
                        </ol>
                    </div>
                </div>
            </div>
        </div><!-- end #body -->
        {{template "footer" .}}
    </body>
</html>
